# Variáveis de ambiente
.env

# AWS SAM
samconfig.toml
.aws-sam/

# Python
__pycache__/
*.pyc
.hypothesis/

# Node.js
node_modules/
dist/

# IDE
.vscode/
.idea/

# Kiro spec files
.kiro/

# Test images and videos
*.jpeg
*.jpg
*.png
*.mov
